# Diretórios do Quarto
.quarto/preview/
.quarto/preview/lock
.quarto/idx/
.quarto/xref/
.quarto/_freeze/

# Diretórios do RStudio
.Rproj.user/
*.Rproj

# Arquivos temporários do sistema
.DS_Store
*.log
*.tmp

# OBS: docs/ deve ser mantido para o GitHub Pages funcionar